body {
  font-family: ui-monospace;
  background-color: rgb(255, 247, 237);
  margin: 0;
  padding: 0;
  color: rgb(71, 43, 15);
}
.title {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 5px;
  font-family: 'Ephesis', cursive;
  color: rgb(71, 43, 15);
}
.subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(71, 43, 15);
  font-family: ui-monospace;
  font-style: italic;
}
.product-section {
  font-family: ui-monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  max-width: 3000px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}

.product-images {
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  min-height: 800px;
  align-items: center;
}

.image-slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: none;
  transition: opacity 0.4s ease;
}

.image-slider img.active {
  display: block;
}

.slider-buttons {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.slider-buttons button {
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 5px;
  cursor: pointer;
}

.slider-buttons button:hover {
  background-color: rgba(0,0,0,0.7);
}

.product-details {
  flex: 1;
  padding: 40px;
}

.product-name {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: #3b2c1e;
  flex: 1;
}

.tagline {
  font-style: italic;
  color: #7b6c61;
  margin-bottom: 25px;
  flex: 1;
}

.description {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 20px;
}

.color-button{
    width:36px;
    height:36px;
    border-radius:8px;
    border:2px solid rgba(0,0,0,0.06);
    cursor:pointer;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    flex: 1;
}

.section h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #5a3825;
}

.section p {
  margin-top: 0;
  margin-bottom: 15px;
  color: #555;
}

.closer {
  margin-top: 30px;
  font-weight: 500;
  color: #3b2c1e;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.95rem;
}
.buy-now{
    background-color: rgb(71, 43, 15);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    bottom: 50px;
    left: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
}
.back-to-catalog{
    background-color: #d08734f5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    bottom: 50px;
    left: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    text-align: center;
}